html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Liberation Sans",sans-serif;
  overflow: hidden;
}

body {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  display: grid;
  grid-template: auto 1fr / 1fr 3ch;
}

#head {
  grid-area: 1/1/2/3;
  display: flex;
  padding: .35rem 1rem;
  border-bottom: 1px solid #008;
  white-space: nowrap;
  overflow: auto;
}

#head label {
  margin-right: .5rem;
  padding: 3px 4px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

#intro {
  grid-area: 2/1/3/3;
  padding: 1rem;
  overflow: auto;
}

#cat-intro:not(:checked) ~ #intro,
#cat-intro:checked ~ #filters {
  display: none;
}

h1, h2 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .7rem;
}

h1 {
  font-size: 140%;
  font-weight: 800;
}

h1:first-of-type {
  margin-top: 0;
}

h2 {
  font-size: 120%;
  font-weight: 600;
}

p {
  margin: .5rem 0;
}

.example {
  color: #88D;
}

.example::before {
  content: "\2605  ";
}

i-pre {
  display: inline;
  font-family: monospace;
  background: #EEE;
  padding: 2px;
  word-wrap: anywhere;
}

a {
  color: #00C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

ol {
  margin: 0;
  padding-left: 3ch;
}

li {
  margin: .5rem 0;
}

.warn, .info {
  margin-left: 1.5rem;
}

.warn::before, .info::before {
  content: "\2794 ";
  margin-left: -1.5rem;
  width: 1.5rem;
  display: inline-block;
}

.warn::before {
  color: #C00;
}

.info::before {
  color: #00C;
}

#filters {
  display: contents;
}

#abc {
  grid-area: 2/2/3/3;
  border-left: 1px solid #008;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#abc a {
  color: inherit;
  width: 100%;
  text-align: center;
}

#filter-list {
  grid-area: 2/1/3/2;
  padding: 0 1rem;
  overflow: auto;
}

#filters section {
  margin: .5rem 0 .5rem 1rem;
}

section:target > * {
  display: block !important;
}

h3 {
  margin: 0;
  margin-left: -1rem;
  font-size: 100%;
  font-weight: 800;
}

h3:first-child {
  margin-top: .5rem;
  padding-top: .5rem;
  border-top: 1pt dashed #AAE;
}

h3::before, h3::after {
  color: #AAA;
  font-size: 90%;
  font-weight: 400;
}

h3::before {
  content: attr(data-pre);
}

h3::after {
  content: attr(data-post);
}

.stream-example {
  display: inline-block;
  width: 100%;
  background: #EEE;
  border-radius: 10px;
  overflow: auto;
}

.input, .output, .error {
  font-family: monospace;
  white-space: pre;
  margin: .5rem;
}

.input {
  font-style: oblique;
}

.input::before {
  content: "\25B6  ";
  font-style: normal;
}

.output {
  user-select: none;
}

.output::before {
  color: #888;
  content: attr(data-pre);
}

.error {
  color: #c00;
}

.comment {
  color: #888;
}
